body{
    background-color: rgb(254, 253, 153);
}

#final206{
    background-color: rgb(235, 120, 212);
    border: 2px black solid;
    margin: 3px;
}

#api, #bs{
    height: 200px;
}

#code{
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
    margin: 5px;
    grid-gap: 5px;
}

#table1, #table2, #table3{
    height: 250px;
}

#table1, #table2{
    margin-left: 40px;
}

#tables{
    display: grid;
    width: 100%;
    justify-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
}


#calc{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    margin: 10px;
    grid-gap: 10px;
    justify-items: center
}

#graph1, #graph2, #graph3{
    height: 300px;
}

#graphs{
    display: grid;
    width: 100%;
    justify-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-gap: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}

#website{
    background-color: rgb(255, 215, 247);
    border: 2px black solid;
    margin: 3px;

}

#threeeighteight{
    background-color: rgb(247, 161, 214);
    border: 2px black solid;
    margin: 3px;
}

#threedoc, #threedoc:visited{
    color: black;
    font-weight: bolder;
    size: 120%
}


@media screen and (min-width: 600px){


#table1{
    margin-left: none;
}

#final206{
    background-color: rgb(208, 151, 246);
}


#threeeighteight{
    background-color: rgb(172, 157, 239);
}

#website{
    background-color: lavender;
}

#code{
    grid-template-columns: 1fr 1fr;

}

#calc{
    grid-template-columns: 1fr 1fr;
}

#calc1, #calc2{
    height: 100%;
}

}

@media screen and (min-width: 1000px){

#final206{
    background-color: rgb(141, 206, 246);
    border: 2px black solid;
    margin: 8px;
}

#website{
    background-color:rgb(161, 212, 161);
    margin: 8px;
}

#threeeighteight{
    background-color: rgb(241, 193, 104);
}

#code{
    grid-template-rows: 1fr 1fr;
}

#bs{
    grid-row-start: 2;
    grid-column-start: 2;
}

#api, #bs{
    height: 275px;
}

#table1, #table2, #table3{
    height: 400px;
}

#calc1, #calc2{
    height: auto;
}

#calc2{
    height: 250px;
}
#calc{
    grid-template-rows: 1fr 1fr;
}

#calc2{
    grid-row-start: 2;
    grid-column-start: 2;
}

#graph1, #graph2, #graph3{
    height: 275px;
}

#graphs{
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    /* margin: 10px; */
}
}