body{
    background-color:rgb(163, 203, 236);
}

h1{
    text-align: center;
    font-size: 200%;
    font-family: Helvetica, sans-serif, 'Times New Roman';

}

#image1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#bio{
    font-size: 120%;
    font-family: Helvetica, sans-serif, 'Times New Roman'; 
}

footer{
    background-color: white;
    text-align: center;
}

#footer{
    font-size: 100%;
    font-family: Helvetica, sans-serif, 'Times New Roman'; 
}


